body{
    background-color: lightblue;
    margin: 0;
    height: 2000px;
}

.container{
    filter: url("#goo");
}

header{
    height: 60px;
    background-color: #ffffff;
    width:110%;
}

.menu-trigger{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    top: 10px;
    right:25px;
    background-color: #ffffff;
}

.menu-trigger span, .menu-trigger span:after, .menu-trigger span:before{
    width: 20px;
    height: 2px;
    background-color:#aaaaaa;
    position: absolute;
}

.menu-trigger span{
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.menu-trigger span:before{
    top:-6px;
    content:' ';
}

.menu-trigger span:after{
    content:' ';
    top:6px;
}